<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button (click)="add()">
      <mat-icon>add</mat-icon>
    </button>
    <span class="spacer"></span>
    <button mat-icon-button (click)="save()">
      <mat-icon>save</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-list *ngIf="secrets">
  <mat-list-item *ngFor="let line of secrets.lines">
    <p style="color: green" *ngIf="line.type === 'comment'">{{line.value}}</p>
    <div *ngIf="line.type === 'chap-secret'" style="display: flex; width: 100%;">
      <input type="text" [(ngModel)]="line.user" [disabled]="line.disabled">
      <input type="text" [(ngModel)]="line.server" [disabled]="line.disabled">
      <input type="text" [(ngModel)]="line.password" [disabled]="line.disabled">
      <input type="text" [(ngModel)]="line.ip" [disabled]="line.disabled">
      <span class="spacer"></span>
      <mat-checkbox [(ngModel)]="line.disabled">Disable</mat-checkbox>
    </div>
  </mat-list-item>
</mat-list>
