<mat-list *ngIf="secrets">
  <mat-list-item *ngFor="let line of secrets.lines">
    <p style="color: green" *ngIf="line.type === 'comment'">{{line.value}}</p>
    <div *ngIf="line.type === 'chap-secret'" [style.background]="line.disabled ? 'gray' : 'white'">
      <input type="text" [(ngModel)]="line.user">
      <input type="text" [(ngModel)]="line.server">
      <input type="text" [(ngModel)]="line.password">
      <input type="text" [(ngModel)]="line.ip">
    </div>
  </mat-list-item>
</mat-list>
