<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button *ngIf="!sidenavOpened" (click)="sidenavOpened = true">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-icon-button *ngIf="sidenavOpened" (click)="sidenavOpened = false">
      <mat-icon>close</mat-icon>
    </button>
    <span class="spacer"></span>
    <button mat-icon-button routerLink="/">
      <mat-icon>home</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="full-size-container">
  <mat-sidenav mode="side" [(opened)]="sidenavOpened">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>vpn_lock</mat-icon>
            VPN
          </mat-panel-title>
          <mat-panel-description>
            edit vpn settings
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="menu">
          <button mat-button routerLink="/pptp" color="primary">
            <mat-icon svgIcon="pptpd"></mat-icon>
            PPTP
          </button>
          <button mat-button color="primary">
            <mat-icon svgIcon="openvpn"></mat-icon>
            OpenVpn
          </button>
          <button mat-button color="primary">L2P/IPSec</button>
          <button mat-button color="primary">IPSec</button>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon svgIcon="docker"></mat-icon>
            Docker
          </mat-panel-title>
          <mat-panel-description>Container settings</mat-panel-description>
        </mat-expansion-panel-header>
        <div class="menu">
          <div class="button-group" *ngFor="let container of containers">
            <button mat-button color="primary">{{container.Image}}</button>
            <button mat-icon-button color="warn" *ngIf="!container.restarting">
              <mat-icon style="margin:0" (click)="restartContainer(container)">refresh</mat-icon>
            </button>
            <button mat-icon-button color="warn" *ngIf="container.restarting">
              <mat-progress-spinner
                      style="zoom: 0.3"
                      color="primary"
                      mode="indeterminate"
              >
              </mat-progress-spinner>
            </button>
            <button mat-icon-button color="primary" (click)="showInfo(container)">
              <mat-icon style="margin:0">info</mat-icon>
            </button>
          </div>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon svgIcon="raspberry_color"></mat-icon>
            HOST
          </mat-panel-title>
          <mat-panel-description>
            <ng-container *ngIf="tempAvg">({{tempAvg}}°C avg)</ng-container>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="menu">
          <mat-list>
            <mat-list-item *ngFor="let t of temp">{{t.zone}}: {{t.temp}}</mat-list-item>
          </mat-list>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

