<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button *ngIf="!sidenavOpened" (click)="sidenavOpened = true">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-icon-button *ngIf="sidenavOpened" (click)="sidenavOpened = false">
      <mat-icon>close</mat-icon>
    </button>
    <span class="spacer"></span>
    <button mat-icon-button routerLink="/config-editor">
      <mat-icon>code</mat-icon>
    </button>
    <button mat-icon-button routerLink="/">
      <mat-icon>home</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="full-size-container">
  <mat-sidenav mode="side" [(opened)]="sidenavOpened" [@.disabled]="disableAnimation">
    <!--      network services    -->
    <mat-expansion-panel *ngFor="let menuSection of menuItems"
                         routerLinkActive
                         #linkActive="routerLinkActive"
                         [expanded]="linkActive.isActive">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>{{menuSection.icon}}</mat-icon>
          {{menuSection.title}}
        </mat-panel-title>
        <mat-panel-description></mat-panel-description>
      </mat-expansion-panel-header>
      <div class="menu">
        <ng-container *ngFor="let item of menuSection.items">
          <button mat-button
                  *ngIf="item.type !== 'external'"
                  routerLinkActive
                  [routerLink]="[getRouterLink(item)]"
                  #linkActive="routerLinkActive"
                  [color]="linkActive.isActive ? 'primary': null"
          >
            <mat-icon [svgIcon]="item.svgIcon">{{item.icon}}</mat-icon>
            {{item.title}}
          </button>

          <a mat-button
             *ngIf="item.type === 'external'"
             routerLinkActive
             [href]="item.path"
             target="_blank"
             #linkActive="routerLinkActive"
             [color]="linkActive.isActive ? 'primary': null"
          >
            <mat-icon [svgIcon]="item.svgIcon">{{item.icon}}</mat-icon>
            {{item.title}}
            <mat-icon style="zoom: .6" color="warn">launch</mat-icon>
          </a>
        </ng-container>
      </div>
    </mat-expansion-panel>
    <!--      Docker Containers       -->
    <mat-expansion-panel routerLinkActive
                         #containerLincActive="routerLinkActive"
                         [expanded]="containerLincActive.isActive">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon svgIcon="docker"></mat-icon>
          Docker
        </mat-panel-title>
        <mat-panel-description>Container settings</mat-panel-description>
      </mat-expansion-panel-header>
      <div class="menu">
        <div class="button-group" *ngFor="let container of containers">
          <button mat-button
                  routerLinkActive
                  #rl="routerLinkActive"
                  [color]="rl.isActive ? 'primary': null"
                  [routerLink]="['docker', 'container', container.Id]">
            <mat-icon *ngIf="!rl.isActive">arrow_right</mat-icon>
            <mat-icon *ngIf="rl.isActive">chevron_right</mat-icon>
            <mat-icon *ngIf="container.State === 'running' && !container.restarting">directions_run</mat-icon>
            <mat-icon *ngIf="container.State !== 'running' || container.restarting">hotel</mat-icon>
            {{getContainerName(container)}}
          </button>
        </div>
      </div>
    </mat-expansion-panel>
    <!--      system settings     -->
    <mat-expansion-panel routerLinkActive #rpilink="routerLinkActive" [expanded]="rpilink.isActive">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon svgIcon="raspberry_color"></mat-icon>
          HOST
        </mat-panel-title>
        <mat-panel-description>
          <ng-container *ngIf="tempAvg">({{tempAvg}}°C avg)</ng-container>
        </mat-panel-description>
      </mat-expansion-panel-header>
        <div class="menu">
          <button mat-button
                  routerLinkActive
                  #rl="routerLinkActive"
                  [color]="rl.isActive ? 'primary': null"
                  routerLink="/device-info">
            Device info
          </button>
        </div>
    </mat-expansion-panel>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

